@page "/categories"
@inject HttpClient Http

<h3>List of Categories</h3>

<Grid Items="Categories" TItem="Category">
    <Columns>
        <Column Name="Picture" Label="">
            @{
                var picture = context.Picture.Skip(78).Take(context.Picture.Length - 78).ToArray();
            }
            <img class="icon" src=@($"data:image/bmp;base64,{Convert.ToBase64String(picture)}")>
        </Column>
        <Column Name="Name" Label="Category name" />
        <Column Name="Description" Label="Category description" />
    </Columns>
</Grid>

@code {
    private IList<Category> Categories;

    protected override async Task OnInitializedAsync() {
        Categories = await Http.GetFromJsonAsync<List<Category>>("api/Categories");
    }
}
